*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
    font-size: 62,5%;
    color: black;
}

.container{
    width: 60%;
    margin: auto;
    margin-top: 5em;
    text-align: center;
}

.container>h1{
    color:#e53170;
    margin-bottom: 1.5em;
}

.container:last-child{
    color: #181717;
}

.schede{
    background-color: #0f0e17;
    color: white;
    width: calc( 100% / 3 - 2em );
    margin: 1em;
    float: left; 
}

img{
    float: left;
    height: 5em;
    margin-right: 1em;
}

.raccolta::after{
     content: "";
     display: table;
     clear: both;
}

h5{
    color: white;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p{
    margin-bottom: 4em;
}

h5:last-child{
    color: skyblue
}
